body {
  background-color: #3aafa9;
  color: #def2f1;
}

#headerContainer {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

#headerMain {
  text-align: center;
  font-size: 2.5rem;
  padding: 40px;
  background-color: #2b7a78;
  color: #def2f1;
  margin: 0;
  border-bottom: 1px solid #e7e7e7;
}
#headerContainer button {
  font-size: 1.4vw;
  color: #def2f1;
  min-height: 50px;
  background-color: #17252a;
  width: 10vw;
  height: 6vh;
  border-radius: 10%;
  margin: 10px;
}
button:hover {
  font-size: 1.6vw;
}
.grid {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-gap: 20px;
}

.footer {
  font-size: 13px;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  padding-bottom: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background-color: #2b7a78;
}
